body {
    width: 850px;
}

html {
    background-color: lightgrey;
    width: 850px;
    margin: 0 auto;
}

#name {
    font-size: 20px;
    
    color: white;
    
}

#githubLink {
    color: white;
    

     
}

header {
    width: 850px;
    background-color: #3369c6;
    height: 300px;
    margin: 0 auto;
}



#whitebox {
    width: 850px;
    background-color: white;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 8px;
    
}

#floatbox {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: #3369c6;
    position: relative;
    top: 190px;
    left: 10px;
}

#namePlate {
    position: relative;
    top: 50px;
    bottom: 50px;
    left: 175px;
}

#navLinks {
    float: right;
   
    width: 400px;
}

#whiteNav {
    width: 200px;
    height: 100px;
    margin-left: 175px;
    padding-top: 10px;
    
    
}

#columnLeft {
    width: 328px;
    background-color: white;
    height: 1000px;
    float: left;
}

#columnRight {
    width: 512px;
    background-color: white;
    height: 1000px;
    float: right;
    
}